

  <!DOCTYPE html>
  <html>
  <head>
  <title>Web Project 2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/spapp.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    rel="stylesheet"
    type="text/css"
  />
  <link href="../assets/css/freelancer.min.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  
  <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js
  "></script>
  <script src="../assets/js/jquery.spapp.js"></script>
  <script src="../assets/js/custom.js"></script>
  <script src="../assets/js/intro.js"></script>
  <script src="config.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="tabs"></ul>
          </div>
        </div>
      </nav>
      <main id="spapp" role="main">
          <!--<section id="students"></section>
          <section id="highcharts"></section>
          <section id="datatable"><h1>Datatable</h1></section>
          <section id="ex1"><h1>Example 1</h1></section>
          <section id="ex2"><h1>Example 2</h1></section>
          <section id="form"><h1>Form</h1></section>-->
      </main>
  
  </body>
  <script>
  var nav =
    '<li class="nav-item mx-0 mx-lg-1">' +
      '<a class="nav-link py-3 px-0 px-lg-3 rounded " href="#students">Students</a>' +
     "</li>" +
    '<li class="nav-item mx-0 mx-lg-1">' +
    '<a class="nav-link py-3 px-0 px-lg-3 rounded " href="#highcharts">Highcharts</a>' +
    "  </li>" +
    '<li class="nav-item mx-0 mx-lg-1">' +
    '<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#datatable">Datatable</a>' +
    "</li>" +
    '<li class="nav-item mx-0 mx-lg-1">' +
    '<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#ex1">Example 1</a>' +
    "</li>" +
    '<li class="nav-item mx-0 mx-lg-1">' +
    '<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#ex2">Example 2</a>' +
    "</li>" +
    '<li class="nav-item mx-0 mx-lg-1">' +
    '<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#form">Form</a>' +
    "</li>";
  $("#tabs").html(nav);
  
  var main =
   '<section id="students">Highcharts</section>' +
    '<section id="highcharts">Highcharts</section>' +
    '<section id="datatable"><h1>Datatable</h1></section>' +
    '<section id="ex1"><h1>Example 1</h1></section>' +
    '<section id="ex2"><h1>Example 2</h1></section>' +
    '<section id="form"><h1>Form</h1></section>';
    $("#spapp").html(main);

  </script>
  </html>